h1 {
    font-size: 25px;
}

h2 {
    font-size: 15px;
    font-weight: 100;
}

h3 {
    font-size: 10px;
    font-weight: 100
}



.page-header {

    padding: 0;
    background-image: url('../img/pattern.png');
    background-size: cover;
    background-position: center;
    background-color: rgb(76, 173, 173);

}



ul {
    padding: 0%;
}

.prima-linea {
    background-color: #7799db;
    color: white;

}

.terza-linea {
    background-color: aqua;
}

body {
    padding: 0;
    margin: 0;
}

body main {
    padding: 5%;
}

th {
    text-align: left;
}

footer p {
    color: white;
    background-color: rgb(12, 41, 66);
    text-align: center;
    padding: 10px;
}